
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  background-image: Linear-gradient(to top, var(--bg) 85%, var(--green)25%);
}
:root {
    --grey: #E7E7E7;
    --blu: #82D5FC;
    --greyText: #999C9D;
    --bg: #CDD6D5;
    --green: #008B7D;
    --white: #ffffff;
    --messag: #CFF8B1;
}

.custom-container {
    max-width: 1600px !important;
    height: 960px;
}

/* SIDEBAR / MAIN */
.sidebar {
    width: 561px;
    height: 100%;
}

.main {
    width: calc(100% - 561px);
    height: 100%;
}


/* sidebar_profile */
.sidebar_profile {
    background-color: var(--grey);
    height: 74px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0px 10px;
}

.custom-buttom {
    color: #A8A8A8;
    font-size: 23px;
}

.container-avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

.avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* sidebar_notication */
.sidebar_notication{
    height: 86px;
    background-color: var(--blu);
}
.container-avatar .fa-bell-slash{
    color: #82D5FC;
    font-size: 22px;
}

/* sidebar_search */
.sidebar_search{
    background-color: var(--grey);
    height: 53px;
}
.custom-form{
    width: 100%;
}

/* sidebar_chat */
.sidebar_chat{
    height: calc(100% - 213px);
    background-color: var(--white);
}
.contact{
    background-color: white;
}


/* main_info */
.main_info{
    background-color: var(--grey);
    height: 74px;
}
.access{
    color: var(--greyText);
}

/* main_chat */
.main_chat{
    height: calc(100% - 148px);
    background-image: url(../img/bg.jpg);
    padding: 58px 100px;
}

.message{
    max-width: 327px;
    min-width: 100px;
    min-height: 56px;
    padding: 10px;
    background-color: var(--messag);
}
.time{
    font-size: 10px;
    color: var(--greyText);
}
.receiver .message{
    background-color: var(--white);
}


/* main_write */
.main_write{
    background-color: var(--grey);
    height: 74px;
}

.icon{
    color: var(--greyText);
    font-size: 27px;
    margin: 0px 38px;
}

.form-contro-custom{
    width: 834px;
    height: 54px;
}